[Unit]
Description=Echidna API
Requires=echidna-dicts.service

[Service]
User=echidna
EnvironmentFile=/etc/systemd/conf.d/echidna
ExecStart=/home/echidna/.nvm/v0.8.19/bin/node /home/echidna/echidna-api/app.js
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
