[Unit]
Description=Echidna historical trends interface
Requires=echidna-backend-base.service

[Service]
User=echidna
EnvironmentFile=/etc/systemd/conf.d/echidna
ExecStart=/home/echidna/echidna-streaming/bin/launch-trends.sh
Restart=always
RestartSec=0
WorkingDirectory=/home/echidna/echidna-streaming

[Install]
WantedBy=multi-user.target
