[Unit]
Description=Echidna Stream Processing server
Requires=echidna-backend-base.service
Wants=echidna-dicts-worker.service

[Service]
User=echidna
EnvironmentFile=/etc/systemd/conf.d/echidna
ExecStart=/home/echidna/echidna-streaming/bin/launch-worker.sh
Restart=always
RestartSec=0
WorkingDirectory=/home/echidna/echidna-streaming

[Install]
WantedBy=multi-user.target
