[Unit]
Description=Echidna Chinese Words Dictionary

[Service]
User=echidna
EnvironmentFile=/etc/systemd/conf.d/echidna
ExecStart=/home/echidna/echidna-dicts/launch-dicts.sh
Restart=always
RestartSec=0
WorkingDirectory=/home/echidna/echidna-dicts

[Install]
WantedBy=multi-user.target
