[Unit]
Description=Echidna Spider

[Service]
User=echidna
EnvironmentFile=/etc/systemd/conf.d/echidna
ExecStart=/home/echidna/echidna-spider/bin/launch-spider.sh
Restart=always
RestartSec=0
WorkingDirectory=/home/echidna/echidna-spider

[Install]
WantedBy=multi-user.target
